:root{
	--white-color:#fff;
	--black-color: #000;
	--text-color: #333;
	--primary-color:#f72e22;
	--height-header: 120px;
	--height-header__navbar:34px;
	--height-header-with-search: calc(var(--height-header) - var(--height-header__navbar));
}
*{
	box-sizing: inherit;
}
html{
	font-size: 62.5%;  			/*1rem = 10px*/
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	background-color: #f5f5f5;
}
/* reponsive */
.grid{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.grid_full-width{
	width: 100%
}
.grid_row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.grid_column-2 {
	margin-top: 32px;
	padding-left: 12px;
	padding-right: 12px;
	width: 16.667%;
}
.grid_column-2-4 {
	margin-top: 32px;
	padding-left: 12px;
	padding-right: 12px;
	width: 20%;
}
.grid_column-10 {
	width: 83.333%;
	margin-top: 32px;
	padding-left: 12px;
	padding-right: 12px;
}
/* Animation  */
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes notifyGrowth{
    from{
		transform: scale(0);
		opacity: 0;
    }
    to{
		opacity: 1;
        transform: scale(1);
    }
}

